<%= form_for @post, url: { action: 'update' } do |form| %>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <div id="notice" class="alert alert-danger alert-style" data-dismiss="alert" role="alert">
        <%= error %>
      </div>
    <% end %>
  <% end %>
  <% if flash[:update_errors] %>
    <% flash[:update_errors].each do |error| %>
      <div id="notice" class="alert alert-danger alert-style" data-dismiss="alert" role="alert">
        <%= error %>
      </div>
    <% end %>
  <% end %>
  <%= form.hidden_field :topic_id, :value => params[:topic_id] %>
  <div class="form-area-size text-center">
    <div class="form-row">
      <div class="form-group col-md text-left">
        <label for="inputTitle"> Título </label>
        <%= form.text_field :title, :class => "form-control", :id => "inputTitle" %>
      </div>
    </div>
    <div class="form-group text-left">
      <label for="textareaBody">Cuerpo</label>
      <%= form.text_area :body, :class => "form-control", :id => "textareaBody", :rows => 7, :placeholder => "Escribe aquí tu Post!" %>
    </div>
    <%= form.submit "Editar Post", :class => "button btn btn-dark post-btn" %>
  </div>
<% end %>