<!DOCTYPE html>
<html>
  <head>
    <title>Tech Blog!</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-dark bg-dark be-red white">
        <ul class="no-list row center-xs middle-xs no-margin nav-height">
          <a class="navbar-brand" id="logo" href="/#">TechBlog!</a>
          <% @topics = Topic.all%>
          <% @topics.each do |topic|%>
            <a class="col-md"><%= link_to topic.title, topic %></a>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.email %>
            </a>
            <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <%= link_to "Mis Posts", user_posts_path(current_user), :class => "dropdown-item bg-dark" %>
              <%= link_to "Cerrar sesión", destroy_user_session_path, :class => "dropdown-item bg-dark", method: :delete %>
            </div>
          </div>
        <% else %>
          <a class="nav navbar-nav navbar-right col-md-8"><%= link_to "Iniciar sesión", new_user_session_path, method: :get %></a>
          <a class="nav navbar-nav navbar-right col-md"><%= link_to "Crear cuenta", new_user_registration_path, method: :get %></a>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
